.idea
nodejs/ssh/id_rsa*
ssh
storage/log/memcached/
storage/log/nginx/
storage/mysql/db/
storage/mysql/dump/
storage/mariadb/db/
storage/mariadb/dump/
storage/mongodb/db/
storage/mongodb/dump/
storage/postgresql/dump/
storage/phpmyadmin/
storage/redis/
tsung/log
tsung/tsung.xml
storage/clickhouse/db/
storage/elasticsearch/data/
